# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [60]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
import statistics as stats

In [2]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:koopmj88P!@localhost:5432/m7test")
#conn=engine.connect()

In [38]:
# Queries
query="SELECT * FROM three_tables"

In [39]:
# Retrieve the result into a DataFrame
data = pd.read_sql(query, engine)

# You can now work with the DataFrame as desired
data.head()

,card,transaction_id,date,amount,card_holder_id,name
0,3561954487988605,222,2018-01-01 21:35:10,6.22,13,John Martin
1,5135837688671496,2045,2018-01-01 21:43:12,3.83,13,John Martin
2,213193946980303,395,2018-01-01 22:41:21,9.61,10,Matthew Gutierrez
3,4263694062533017,3309,2018-01-01 23:13:30,19.03,4,Danielle Green
4,4498002758300,567,2018-01-01 23:15:10,2.95,18,Malik Carlson

In [62]:
# Write function that locates outliers using standard deviation
def find_outliers_std(data):
    amount=data["amount"]
    mean=np.mean(amount)
    std=np.std(amount)
    threshold=3*std
    outliers_std=[x for x in amount if abs(x-mean)>threshold]
    df_outliers_std=pd.DataFrame(outliers_std, column='Outliers')
    print(df_outliers_std)
    return outliers_std

In [58]:
amount=data["amount"]
mean=np.mean(amount)
std=np.std(amount)
threshold=3*std
outliers_std=[x for x in amount if abs(x-mean)>threshold]
sort1=sorted(outliers_std,reverse=True)
three1=sort1[0:3]

print(f"Outliers using STD method: {three1}")

Outliers using STD method: [2249.0, 2108.0, 2001.0]

In [59]:
# Find anomalous transactions for 3 random card holders
atstd=data[data['amount']>2000]
print(f"Anomalous transactions STD:\n {atstd}")

Anomalous transactions STD:
                   card  transaction_id                date  amount  \
1109  3581345943543942            2710 2018-04-21 19:41:51  2108.0
2360  3581345943543942            3125 2018-09-02 06:17:00  2001.0
3327  3516952396080247            2945 2018-12-13 15:51:59  2249.0

      card_holder_id            name
1109               6  Beth Hernandez
2360               6  Beth Hernandez
3327               7     Sean Taylor

## Identifying Outliers Using Interquartile Range

In [61]:
# Write a function that locates outliers using interquartile range
def find_outliers_iq(data):
    amount=data["amount"]
    q1=np.percentile(amount,25)
    q3=np.percentile(amount,75)
    iqr=q3-q1
    lower_bound=q1-(1.5*iqr)
    upper_bound=q3+(1.5*iqr)
    outliers_iqr=[x for x in amount if x< lower_bound or x>upper_bound]
    df_outliers_iqr=pd.DataFrame(outliers_iqr, column='Outliers')
    return outliers_iqr

In [54]:
# Find anomalous transactions for 3 random card holders
amount=data["amount"]
q1=np.percentile(amount,25)
q3=np.percentile(amount,75)
iqr=q3-q1
lower_bound=q1-(1.5*iqr)
upper_bound=q3+(1.5*iqr)
outliers_iqr=[x for x in amount if x< lower_bound or x>upper_bound]
sort=sorted(outliers_iqr,reverse=True)
three=sort[0:3]

print(f"Outliers using IQR: {three}")

Outliers using IQR: [2249.0, 2108.0, 2001.0]

In [57]:
atiqr=data[data['amount']>2000]
print(f"Anomalous transactions IQR:\np {atiqr}")

Anomalous transactions IQR:
p                   card  transaction_id                date  amount  \
1109  3581345943543942            2710 2018-04-21 19:41:51  2108.0
2360  3581345943543942            3125 2018-09-02 06:17:00  2001.0
3327  3516952396080247            2945 2018-12-13 15:51:59  2249.0

      card_holder_id            name
1109               6  Beth Hernandez
2360               6  Beth Hernandez
3327               7     Sean Taylor